<div class="container">
    <div id="activitybuttons">
        <button id="current" class="btn btn-warning">
            <a href="/">Currents </a>
        </button>
        <button id="past">
            <a href="/past">Past</a>
        </button>
        <button id="outstanding">
            <a href="/outstanding">Outstanding</a>
        </button>
    </div>
    <div class="container" id="currenttable">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    {{msg}}
                </h1>
                <h3 class="text-center"></h3>
            </div>
            <div id="currenttable">
                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>Over/Win</th>
                            <th>Under/Loss</th>
                            <th class="numeric">Amount</th>
                            <th>Event</th>
                            <th>Result</th>
                            <th>End Date</th>
                            <th>Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each examples}}
                        <tr>
                            <td>{{this.over_win}}</td>
                            <td>{{this.under_lose}}</td>
                            <td>{{this.amount}}</td>
                            <td>{{this.event}}</td>
                            <td>{{this.winner}}</td>
                            <td>{{this.end_date}}</td>
                            <td>{{this.is_paid}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>